
# Cython specific generated stuff inside src :(
python/module/*.c
python/module/*.h
python/module/*.cpp
python/module/*.hpp

config.h

build/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.so
*.o